{% extends "components/form/inputs/_input.html" %} 

{% block input %}
<div
    x-data="{
    password: '{{ field.value or '' }}',
    showPassword: false,
    strength: 0,
    strengthLabel: '',
    strengthClass: '',
    minLength: {{ field.min_length | default(8) }},
    includeNumbers: {{ field.include_numbers | default('true') | lower }},
    includeSpecial: {{ field.include_special_chars | default('true') | lower }},
    includeLower: {{ field.include_lowercase | default('true') | lower }},
    includeUpper: {{ field.include_uppercase | default('true') | lower }},
    evaluateStrength() {
      let score = 0;
      const pwd = this.password;

      if (pwd.length >= this.minLength) score += 1;
      if (pwd.length >= this.minLength + 4) score += 1;

      if (this.includeNumbers && /[0-9]/.test(pwd)) score += 1;
      if (this.includeSpecial && /[^A-Za-z0-9]/.test(pwd)) score += 1;
      if (this.includeLower && /[a-z]/.test(pwd)) score += 1;
      if (this.includeUpper && /[A-Z]/.test(pwd)) score += 1;

      this.strength = Math.min(4, Math.max(0, score));

      if (this.strength === 0) {
        this.strengthLabel = 'Very weak';
        this.strengthClass = 'weak';
      } else if (this.strength === 1) {
        this.strengthLabel = 'Weak';
        this.strengthClass = 'weak';
      } else if (this.strength === 2) {
        this.strengthLabel = 'Fair';
        this.strengthClass = 'fair';
      } else if (this.strength === 3) {
        this.strengthLabel = 'Good';
        this.strengthClass = 'strong';
      } else {
        this.strengthLabel = 'Strong';
        this.strengthClass = 'strong';
      }
      
      const form = $el.closest('form');
      if (form) {
          const submitBtn = form.querySelector('button[type=\'submit\']');
          if (submitBtn) {
              if (this.strengthClass === 'weak' || this.strengthClass === 'fair') {
                  submitBtn.setAttribute('disabled', '');
              } else {
                  submitBtn.removeAttribute('disabled');
              }
          }
      }
    }
  }"
    x-init="evaluateStrength()"
>
    <div class="fb-input-icon-wrap">
        <input
            type="password"
            id="{{ form.name }}-{{ field.name }}"
            name="{{ field.name }}"
            class="fb-input {% if field.css %}{{ field.css }}{% endif %}"
            x-model="password"
            x-bind:type="showPassword ? 'text' : 'password'"
            @input="evaluateStrength()"
            {% if field.placeholder %}placeholder="{{ _t(field.placeholder) }}"{% endif %}
            {% if field.autocomplete %}autocomplete="{{ field.autocomplete }}"{% endif %}
            {% if field.required %}required{% endif %}
            {% if field.disabled %}disabled{% endif %}
            {% if 'hx-post' in field %}
            hx-post="{{ field['hx-post'] }}"
            hx-trigger="{{ field['hx-trigger'] }}"
            hx-target="{{ field['hx-target'] }}"
            hx-swap="{{ field['hx-swap'] }}"
            hx-include="{{ field['hx-include'] }}"
            {% endif %}
            {% if 'data-enable-on-changed-value' in field %}
            data-enable-on-changed-value="{{ field['data-enable-on-changed-value'] }}"
            {% endif %}
        />
        <button
            type="button"
            class="fb-input-action"
            @click="showPassword = !showPassword"
        >
            <i class="f7-icons fb-text-lg" x-show="!showPassword">eye</i>
            <i class="f7-icons fb-text-lg" x-show="showPassword" x-cloak
                >eye_slash</i
            >
        </button>
    </div>

    <div class="fb-password-strength">
        <div class="fb-strength-bars">
            <template x-for="i in 4" :key="i">
                <div
                    class="fb-strength-bar"
                    :class="{
            'weak': strength >= i && strengthClass === 'weak',
            'fair': strength >= i && strengthClass === 'fair',
            'strong': strength >= i && strengthClass === 'strong'
          }"
                ></div>
            </template>
        </div>
    </div>
</div>
{% endblock %}
