# Feedbase environment template
# Copy this file to .env and update values as needed.

# Application
APP_PORT=5555
APP_CORS_ORIGINS=
APP_LOG_LEVEL=INFO
APP_ENVIRONMENT=production
APP_DOMAIN=localhost

# VAPID / Web Push
VAPID_CREDENTIALS_PATH=credentials/vapid # Use the scripts/generate_vapid_credentials.py script to generate VAPID credentials and save them to this path.
VAPID_CLAIMS_SUBJECT=mailto:hello@feedbase.app

# Runtime / feature flags
APP_MONITORING_ENABLED=true
PROMETHEUS_METRICS_ENABLED=true
PROMETHEUS_METRICS_URL=/metrics
APP_HTTP_CLIENT_TIMEOUT_SECONDS=150
APP_FEED_POLLING_INTERVAL_SECONDS=2700
APP_ARTICLE_RETENTION_DAYS=30


# OpenAPI
OPENAPI_USERNAME=Administrator
OPENAPI_PASSWORD=AdminPassword@123
OPENAPI_DOCS_URL=/docs
OPENAPI_JSON_SCHEMA_URL=/openapi.json
API_V1_STR=/api/v1

# Authentication
AUTH_SESSION_COOKIE_NAME=feedbase_auth_session

# Monitoring
SENTRY_DSN=

# PostgreSQL
APP_POSTGRES_HOST=localhost
APP_POSTGRES_PORT=5433
APP_POSTGRES_USER=postgres
APP_POSTGRES_PASSWORD=postgres
APP_POSTGRES_DB=feedbase_dev_db
APP_POSTGRES_QUERY=

# Redis
APP_REDIS_HOST=redis
APP_REDIS_PORT=6379
APP_REDIS_PASSWORD=
APP_REDIS_DB=0
APP_REDIS_SCHEME=redis

# Celery
CELERY_REDIS_HOST=localhost
CELERY_REDIS_PORT=6379
CELERY_REDIS_USER=
CELERY_REDIS_PASSWORD=
CELERY_REDIS_DB=0
CELERY_REDIS_SCHEME=redis

# Jobs 
USE_JOB_BACKEND=db # celery or db

# File storage
FILE_STORAGE_MEDIA_ROOT=media
FILE_STORAGE_MAX_SIZE=52428800
FILE_STORAGE_PRESIGNGED_EXPIRY_TIME=7200
FILE_STORAGE_PRESIGNED_UPLOAD_EXPIRY_TIME=600
FILE_STORAGE_S3_BUCKET_NAME=
FILE_STORAGE_S3_REGION_NAME=us-east-1
FILE_STORAGE_S3_ACCESS_KEY_ID=
FILE_STORAGE_S3_SECRET_ACCESS_KEY=
FILE_STORAGE_S3_ENDPOINT_URL=
FILE_STORAGE_CLOUDINARY_CLOUD_NAME=
FILE_STORAGE_CLOUDINARY_API_KEY=
FILE_STORAGE_CLOUDINARY_API_SECRET=

# Mailer
MAILER_DEFAULT_SENDER_NAME=
MAILER_DEFAULT_SENDER_EMAIL=no-reply@feedbase.app
MAILER_SMTP_TLS=true
MAILER_SMTP_SSL=false
MAILER_SMTP_AUTH_SURPPORT=false
MAILER_SMTP_PORT=587
MAILER_SMTP_HOST=localhost
MAILER_SMTP_USER=
MAILER_SMTP_PASSWORD=
MAILER_SES_REGION_NAME=us-east-1
MAILER_SES_ACCESS_KEY_ID=
MAILER_SES_SECRET_ACCESS_KEY=

# Superuser setup
APP_SUPERUSER_NAME=Administrator
APP_SUPERUSER_EMAIL=admin@feedbase.app
APP_SUPERUSER_PASSWORD=Password@123

