{# typja:var sidebar: dict[str, Any] #}

<section
    x-show="activeTab === 'preferences'"
    x-cloak
    class="fb-rounded-lg fb-bg-surface2 fb-p-4 fb-border fb-border-border fb-flex fb-flex-col fb-gap-4 fb-mb-6"
>
    <div>
        <h1 class="fb-text-xl fb-font-medium fb-text-text">
            {{ _t('settings.preferences_title') }}
        </h1>
        <p class="fb-text-sm fb-text-muted fb-mt-2 fb-mb-4">
            {{ _t('settings.preferences_description') }}
        </p>
    </div>

    <div
        class="fb-rounded-lg fb-bg-surface fb-p-4 fb-border fb-border-border fb-mb-4 fb-flex fb-flex-col fb-gap-4"
    >
        <div id="update-preferences" class="fb-mb-6">
            {{ render_block("components/form/form.html", form=sidebar.forms.update_preferences_form, use_cls=True) }}
        </div>
    </div>
</section>
